@import "syntax-variables";
@import "languages";

atom-text-editor, :host {
  background-color: @darker-grey;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @almost-black;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: #161616;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @almost-black;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @lighter-grey;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
  background-color: @almost-black;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.comment {
  color: @light-grey;
}

.support {
  color: @light-purple;

  &.exception {
    color: @purple;
  }
}

.keyword {
  color: @light-blue;

  &.import {
    color: @aqua;
  }

  &.other.unit {
    color: @orange;
  }

  &.special-method {
    color: @light-purple;
  }
}

.storage {
  color: @light-blue;

  &.type {
    color: @light-purple;
  }
}

.constant {
  color: @orange;

  &.character.escape {
    color: @aqua;
  }
}

.variable {
  color: @blue;
}

.invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.string {
  color: @light-green;


  // &.regexp {
  //   color: @aqua;
  //
  //   .source.ruby.embedded {
  //     color: @orange;
  //   }
  // }
  //
  // &.other.link {
  //   color: @red;
  // }
}

.regexp {
  color: @red;
}

.punctuation {
  &.definition {
    &.comment {
      color: @light-grey;
    }

    &.string,
    &.variable,
    &.parameters,
    &.array {
      color: @light-green;
    }

    &.heading,
    &.identity {
      color: @blue;
    }

    &.bold {
      color: @orange;
      font-weight: bold;
    }

    &.italic {
      color: @light-purple;
      font-style: italic;
    }
  }

  &.section.embedded {
    color: darken(@red, 10%);
  }

}

.support {
  &.class {
    color: @orange;
  }

  &.function  {
    color: @light-purple;

    &.any-method {
      color: @blue;
    }
  }
}

.type {
  color: @light-blue;
}

.entity {
  color: @yellow;

  &.other {
    color: @light-purple;
  }

  &.punctuation {
    color: @orange;

    &.definition {
      color: @orange;
    }
  }

  &.type {
    color: @light-purple;
  }
}

.punctuation {
  color: @syntax-text-color;

  &.terminator {
    color: @syntax-text-color;
  }
  &.section {
    color: @yellow;
  }
  &.definition {
    color: @aqua;
  }
}

.meta {
  color: @orange;

  &.regexp {
    color: @syntax-text-color;
  }

  &.delimiter {
    color: @syntax-text-color;
  }

  &.string-contents {
    color: @light-green;
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @orange;
    font-weight: bold;
  }

  &.changed {
    color: @light-purple;
  }

  &.deleted {
    color: @red;
  }

  &.italic {
    color: @light-purple;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: @blue;
  }

  &.inserted {
    color: @light-green;
  }

  &.list {
    color: @red;
  }

  &.quote {
    color: @orange;
  }

  &.raw.inline {
    color: @light-green;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @light-green;
  }
}

atom-text-editor[mini] .scroll-view,
:host([mini]) .scroll-view {
  padding-left: 1px;
}
